process {
	withName: 'TRIM' {
		container	= 'parmejohn/qc:latest'
	}
	withName: 'FASTQC' {
		container	= 'parmejohn/qc:latest'
	}
	withName: 'MULTIQC' {
		container	= 'parmejohn/qc:latest'
	}	
	withName: 'SPADES' {
		container	= 'parmejohn/assembly:latest'
	}
	withName: 'QUAST' {
		container	= 'parmejohn/assembly:latest'
	}	
}

docker.enabled = true
