process {
	withName: 'TRIM' {
		container	= 'parmejohn/qc:latest'
	}
	withName: 'FASTQC' {
		container	= 'parmejohn/qc:latest'
	}
	withName: 'MULTIQC' {
		container	= 'parmejohn/qc:latest'
	}	
	withName: 'SPADES' {
		container	= 'parmejohn/assembly:latest'
	}
	withName: 'QUAST' {
		container	= 'parmejohn/assembly:latest'
	}
	withName: 'BWA' {
		container	= 'parmejohn/mapping:latest'
	}
	withName: 'POST_ALIGN' {
		container	= 'parmejohn/mapping:latest'
	}
	withName: 'MAPPING' {
		container	= 'parmejohn/mapping:latest'
	}
}

docker.enabled = true
